<link rel="stylesheet" href="/stylesheets/style.css" />
<div class="sign-up-container">
  <h2>School Yearbook App</h2>
  <h3>Sign up to share your moments.</h3>
  <form action="/auth/sign-up" method="post" enctype="multipart/form-data">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" />
    <br />
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" />
    <br />
    <input type="file" name="pfp" accept="img/*" id="pfp" />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
    <br />
    <label for="ConfirmPassword">Confirm password:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" />
    <br />
    <input type="submit" name="Sign Up" />
  </form>
</div>
