<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../logos/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>sign-up</title>
  </head>
  <body>
    <nav>
      <img src="../logos/logo ver 2.png" class="logo" alt="logo ver2" />
      <ul>
        <li>
          <a href="/auth/sign-in"> <button>sign in</button></a>
        </li>
      </ul>
    </nav>

    <div class="sign-up-container">
    <div class="inner-container">
      Sign up to share your moments!
      <br>
      <br>
      <form action="/auth/sign-up" method="post" enctype="multipart/form-data">
        <label for="email"></label>
        <input
          type="text"
          name="email"
          id="email"
          placeholder="example@gmail.com"
        />
        <br />
        <br />
        <label for="username"></label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="username"
        />
        <br />
        <br />
        <div class="input">select your profile picture  <input type="file" name="pfp" accept="img/*" id="pfp" />
          </div> 
        <br />
        <label for="password"></label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="password"
        />
        <br />
        <br />
        <label for="confirmPassword"></label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="confirm password"
        />
        <br />
        <br />
        <button type="submit" class="sign-up-button">sign-up</button>
        </div>
      </form>
    </div>
  </body>
</html>
