<nav>
  <a href="/user/<%= user.id %>/profile">Profile</a>
  <a href="/posts/new">Create Post</a>
  <a href="/posts/all">Explore Posts</a>
  <a href="/yearbook">Yearbook</a>
  <a href="/auth/sign-out">sign out</a>
</nav>
