
<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<nav>
  <div><img src="../../logos/logo ver 1.png" class="logo" alt="logo ver1" /></div>

  <ul>
    <li>
      <a href="/user/<%= loggedInuser.id %>/profile"
        ><button class="profile">profile</button></a
      >
    </li>
    <li>
      <a href="/posts/new"><button class="new">new</button></a>
    </li>
    <li>
      <a href="/posts/all"><button class="explore">explore</button></a>
    </li>
    <li>
      <a href="/yearbook"><button class="yearbook">yearbook</button></a>
    </li>
    <li>
      <a href="/auth/sign-out"
        ><button class="save-changes-button">sign out</button></a
      >
    </li>
  </ul>
</nav>
