<%- include('../partials/nav.ejs') %>
<form
  action="/user/<%= currentUser._id%>?_method=PUT"
  method="post"
  enctype="multipart/form-data"
>
  <br />
  <label for="username">Username:</label>
  <input
    type="text"
    name="username"
    id="username"
    value="<%= currentUser.username %>"
  />
  <br />
  <input type="file" name="pfp" accept="img/*" id="pfp" />
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" />
  <br />
  <label for="confirmPassword">Confirm password:</label>
  <input type="password" name="confirmPassword" id="confirmPassword" />
  <br />
  <input type="submit" name="Sign Up" />
</form>
