<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../logos/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>edit profile</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs')%>
<div class="sign-up-container">
<div class="inner-container">
Edit profile 
<br>
    <form
      action="/user/<%= currentUser._id%>?_method=PUT"
      method="post"
      enctype="multipart/form-data"
    >
      <br />
      <br>
      <label for="email" class="input">email: </label>
      <input
        type="text"
        name="email"
        id="email"
        value="<%=currentUser.email%>"
      />
      <br />
      <br>
      <label for="username" class="input">username:</label>
      <input
        type="text"
        name="username"
        id="username"
        value="<%= currentUser.username %>"
      />
      <br />
      <br>
      <div class="input">
        upload profile picture
        <input type="file" name="pfp" accept="img/*" id="pfp" />
      </div>
      <br>
      <label for="password" class="input">password:</label>
      <input type="password" name="password" id="password" placeholder="enter new password" />
      <br />
      <br>
      <label for="confirmPassword" class="input">confirm password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword"
      placeholder="confirm new password" />
      <br />
      <br>
      <button type="submit" class="save-changes-button">save changes</button>
    </form>
    </div>
  </body>
</html>
