<%- include('../partials/nav.ejs') %>

<h2><%= user.username %>'s Profile</h2>

<img src="/uploads/<%= user.pfp %>" alt="Profile Picture" />
<br />
<br />
<div>
  <a href="/user/<%= user._id %>/edit">
    <button>Edit profile</button>
  </a>
</div>

<h3>Posts</h3>
