<a href="/posts/new">new</a>
<a href="/posts/all">explore</a>

<h2><%= user.username %>'s Profile</h2>
<img src="/uploads/<%= user.pfp %>" alt="Profile Picture" />
<br />
<br />
<div>
  <a href="/auth/<%= user._id %>/edit">
    <button>Edit profile</button>
  </a>
</div>

<h3>Your Posts</h3>
<% const stringIds = user.posts.map(id => id.toString())%>


