<%- include('../partials/nav.ejs') %>

<h3>yearbook posts</h3>

<% yearbookPosts.forEach((post) => { %>
<img
  src="<%=post.post_id.image.replace(/^public/, '')%>"
  alt="Post Image"
  style="width: 200px"
/>
<p><%= post.quote%></p>
<% }) %>
