<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/style-showYB.css" />
    <title>approved post</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>

    <h3>Yearbook Post</h3>

    <div class="post-container">
      <img
        src="<%=posts.image.replace(/^public/, '')%>"
        alt="yearbok post image"
        class="post-image"
      />

      <p class="post-quote"><%= posts.quote%></p>
    </div>
  </body>
</html>
