<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style-allposts.css" />
    <link rel="icon" href="/logos/icon.png" type="image/x-icon" />
    <title>explore</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>

    <ul class="posts-container">
      <% posts.forEach((post) => { %>
      <a href="/posts/<%= post._id%>" class="post-card">
        <img
          src="<%= post.image.replace(/^public/, '') %>"
          alt="pre-approved post image"
          class="post-image"
        />

        <div class="post-content">
          <p class="post-quote"><%= post.quote%></p>
        </div>
      </a>
      <% }) %>
    </ul>
  </body>
</html>
