
<%- include('../partials/nav.ejs') %>

<h3>Explore all posts</h3>
<ul>
  <% posts.forEach((post) => { %>
  <a href="/posts/<%= post._id%>">
    <img
      src="<%= post.image.replace(/^public/, '') %>"
      alt="Post Image"
      style="width: 200px"
    />
  </a>

  <p><%= post.quote%></p>

  <% }) %>
</ul>
