<a href="/posts/new">new</a>
<a href="/posts/all">explore</a>
<a href="/yearbook">yearbook</a>

<h3>Share a moment</h3>
<form action="/posts" method="post" enctype="multipart/form-data">
  <label for="image"
    >Image (Choose carefully, you can't change it later ☺️):</label
  >
  <input type="file" name="image" accept="image/*" />
  <br />
  <label for="quote">Comment:</label>
  <textarea name="quote" id="quote" placeholder="Enter a Comment"></textarea>
  <br />
  <button type="submit">Create</button>
</form>
