<h2>New Post</h2>
<form action="/posts" method="post" enctype="multipart/form-data">
  <label for="image">Image:</label>
  <input type="file" name="image" accept="image/*" />
  <br />
  <label for="quote">Comment:</label>
  <textarea name="quote" id="quote" placeholder="Enter a Comment"></textarea>
  <br />
  <button type="submit">Create</button>
</form>
