<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style-newpost.css" />
        <link rel="icon" href="/logos/icon.png" type="image/x-icon" />
    <title>create post</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container">
      <div class="header">
        <button class="close-btn" onclick="window.history.back()">×</button>
        <div class='new-post'>New post</div>
      </div>

      <div class="form-container">
        <form
          id="postForm"
          action="/posts"
          method="post"
          enctype="multipart/form-data"
        >
          <div
            class="upload-area"
            onclick="document.getElementById('imageInput').click()"
          >
            <div class="upload-icon">+</div>
            <div class="upload-text">Click to upload image</div>
            <input
              type="file"
              id="imageInput"
              name="image"
              accept="image/*"
              class="file-input"
            />
          </div>

          <div class="comment-section">
            <textarea
              name="quote"
              id="quote"
              class="comment-input"
              placeholder="add a comment..."
            ></textarea>
          </div>

          <div class="form-footer">
            <button type="submit" class="create-btn">Create</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
