<h1>show page</h1>

<img src="<%= post.image%>" alt="Post Image" />
<p><%= post.quote%></p>

<form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
